:root {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  font-size: 1.6rem;
  background-color: blueviolet;
  font-family: "Times New Roman", Times, serif;
  display: inline-block;
  flex: row wrap;
  justify-content: space-evenly;
}

h1 {
  color: azure;
  justify-content: space-around;
  margin: 15rem 15rem;
}

.password {
  width: 15rem;
  height: 15rem;
  font-size: 5rem;
  background-color: yellow;
  border-radius: 15%;
  margin: 15rem 15rem;
  justify-content: space-around;
}
.buttonStiling {
  width: 5rem;
  height: 5rem;
  margin: 15rem 15rem;
}

button {
  background-color: blue;
  margin: auto;
}
